@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.infoCard {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 300px;
    min-width: 250px;
    flex: 1 1 40%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: toTop, fadeIn;
    animation-duration: 700ms;
}

@keyframes toTop {
    from {
        margin-top: 100px;
    }
    to {
        margin-top: 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    word-wrap: break-word;
    padding-bottom: 15px;
    border-bottom: 0.78px solid rgba(99, 99, 99, 0.8);
}

.title h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.title .url > a {
    text-decoration: none;
    color: rgba(66, 66, 66, 0.8);
}

.desc {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.img-wrap {
    overflow: hidden;
    max-width: 260px;
    max-height: 157px;
    width: 100%;
}

.img-wrap img {
    width: 100%;
}

.desc p {
    margin-top: 15px;
}

.genre {
    display: flex;
    margin-top: 20px;
}

.genre li {
    font-size: 14px;
    font-weight: 600;
    color: #7662cd;
    background-color: #fff;
    margin-right: 10px;
    border: 1px solid #7662cd;
    border-radius: 20px;
    padding: 1px 5px;
    list-style: none;
}

.no_og {
    max-width: 260px;
    width: 100%;
    height: 157px;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8e1f1 0%, #d1c1f8 74%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_og > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

/* dark-mode */

/* @media (prefers-color-scheme: dark) {

    .infoCard {
        background: #2E333D;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    }
    .title h4 {
        color: #fdfdfdd5
    }
    .title .url > a {
        color: #fdfdfdb6
    }
    .desc p {
        color: #fdfdfde3
    }
} */
